# PFM: Cleaning Data Meteo SNP

## **1. Importar librerías y datos**

In [2]:
# Importamos las librerías
### Escribe aquí tu código ###
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import pytz
import seaborn as sns

# Cargamos el conjunto de datos de entrada
### Escribe aquí tu código ###
dataset = pd.read_csv('df_Tenerife_Meteo_28.14_-16.46_2019.csv', delimiter=';', encoding='latin-1')

## **2. Comprender y limpiar los datos**

Es necesario visualizar y comprender los datos con los que vamos a trabajar, así como conocer sus características. El Data Cleaning consiste en identificar y eliminar las irregularidades.

Las irregularidades se pueden clasificar en:
- Missing values
- Incorrect format
- Incorrect headers
-  Anomalies/Outliers

**1. ¿Cuántos datos hay?** **¿Cuántos atributos hay en los datos?**

In [3]:
# Filasxcolumnas de los datos
### Escribe aquí tu código ###
dataset.shape

(52839, 21)

In [4]:
# Observa las primeras 5 filas de los datos
### Escribe aquí tu código ###
dataset

,PeriodEnd,PeriodStart,Period,AirTemp,AlbedoDaily,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,...,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,SnowDepth,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
0,2018-12-31T00:20:00Z,2018-12-31T00:10:00Z,PT10M,16.9,0.07,70,0.0,11.5,0,0,...,0,0,0,15.3,70.2,0.0,1007.0,90,2.9,167
1,2018-12-31T00:30:00Z,2018-12-31T00:20:00Z,PT10M,17.0,0.07,65,0.0,11.6,0,0,...,0,0,0,15.3,70.4,0.0,1007.0,91,2.9,169
2,2018-12-31T00:40:00Z,2018-12-31T00:30:00Z,PT10M,17.1,0.07,57,0.0,11.7,0,0,...,0,0,0,15.3,70.6,0.0,1007.0,92,3.0,171
3,2018-12-31T00:50:00Z,2018-12-31T00:40:00Z,PT10M,17.1,0.07,46,0.0,11.8,0,0,...,0,0,0,15.4,70.8,0.0,1007.0,93,3.0,173
4,2018-12-31T01:00:00Z,2018-12-31T00:50:00Z,PT10M,17.2,0.07,29,0.0,11.9,0,0,...,0,0,0,15.4,71.0,0.0,1007.1,94,3.0,174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52834,2020-01-01T22:00:00Z,2020-01-01T21:50:00Z,PT10M,12.6,0.07,95,31.0,5.8,0,0,...,0,0,0,7.3,63.3,0.0,955.6,53,4.1,136
52835,2020-01-01T22:10:00Z,2020-01-01T22:00:00Z,PT10M,12.5,0.07,94,31.0,5.7,0,0,...,0,0,0,7.1,63.0,0.0,955.6,53,4.1,139
52836,2020-01-01T22:20:00Z,2020-01-01T22:10:00Z,PT10M,12.5,0.07,93,31.0,5.5,0,0,...,0,0,0,7.0,62.7,0.0,955.7,52,3.9,141
52837,2020-01-01T22:30:00Z,2020-01-01T22:20:00Z,PT10M,12.4,0.07,92,31.0,5.4,0,0,...,0,0,0,6.9,62.4,0.0,955.7,51,3.7,143
52838,2020-01-01T22:40:00Z,2020-01-01T22:30:00Z,PT10M,12.3,0.07,90,31.0,5.3,0,0,...,0,0,0,6.7,62.1,0.0,955.8,49,3.6,145

In [5]:
# Observa las últimas 5 filas de los datos
### Escribe aquí tu código ###
dataset.tail(5)

,PeriodEnd,PeriodStart,Period,AirTemp,AlbedoDaily,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,...,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,SnowDepth,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
52834,2020-01-01T22:00:00Z,2020-01-01T21:50:00Z,PT10M,12.6,0.07,95,31.0,5.8,0,0,...,0,0,0,7.3,63.3,0.0,955.6,53,4.1,136
52835,2020-01-01T22:10:00Z,2020-01-01T22:00:00Z,PT10M,12.5,0.07,94,31.0,5.7,0,0,...,0,0,0,7.1,63.0,0.0,955.6,53,4.1,139
52836,2020-01-01T22:20:00Z,2020-01-01T22:10:00Z,PT10M,12.5,0.07,93,31.0,5.5,0,0,...,0,0,0,7.0,62.7,0.0,955.7,52,3.9,141
52837,2020-01-01T22:30:00Z,2020-01-01T22:20:00Z,PT10M,12.4,0.07,92,31.0,5.4,0,0,...,0,0,0,6.9,62.4,0.0,955.7,51,3.7,143
52838,2020-01-01T22:40:00Z,2020-01-01T22:30:00Z,PT10M,12.3,0.07,90,31.0,5.3,0,0,...,0,0,0,6.7,62.1,0.0,955.8,49,3.6,145

**2. ¿Qué significan?**

In [6]:
# Formato de los datos
### Escribe aquí tu código ###
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52839 entries, 0 to 52838
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PeriodEnd          52839 non-null  object
 1   PeriodStart        52839 non-null  object
 2   Period             52839 non-null  object
 3   AirTemp            52839 non-null  float64
 4   AlbedoDaily        52839 non-null  float64
 5   Azimuth            52839 non-null  int64
 6   CloudOpacity       52839 non-null  float64
 7   DewpointTemp       52839 non-null  float64
 8   Dhi                52839 non-null  int64
 9   Dni                52839 non-null  int64
 10  Ebh                52839 non-null  int64
 11  Ghi                52839 non-null  int64
 12  GtiFixedTilt       52839 non-null  int64
 13  GtiTracking        52839 non-null  int64
 14  PrecipitableWater  52839 non-null  float64
 15  RelativeHumidity   52839 non-null  float64
 16  SnowDepth          52839 non-null  float64
 17  SurfacePressure    52839 non-null  float64
 18  WindDirection10m   52839 non-null  int64
 19  WindSpeed10m       52839 non-null  float64
 20  Zenith             52839 non-null  int64
dtypes: float64(9), int64(9), object(3)
memory usage: 8.5+ MB

In [7]:
dataset.describe()

,AirTemp,AlbedoDaily,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,SnowDepth,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
count,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.000000,52839.0,52839.000000,52839.000000,52839.000000,52839.000000
mean,18.617351,0.061118,0.024111,6.562530,12.623876,79.061224,260.463711,164.410549,243.471054,261.486194,311.360151,16.091943,69.603197,0.0,974.055145,68.983913,5.904714,89.817029
std,2.802554,0.005016,98.343634,14.299321,2.695478,116.960247,355.130381,263.206934,322.430679,347.133279,388.245113,4.970813,13.003910,0.0,29.463778,81.343819,2.538079,41.720974
min,11.900000,0.050000,-180.000000,0.000000,-3.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.700000,21.100000,0.0,940.600000,0.000000,0.000000,5.000000
25%,16.900000,0.060000,-90.000000,0.000000,11.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.800000,63.200000,0.0,947.800000,30.000000,4.200000,55.000000
50%,18.100000,0.060000,0.000000,0.000000,12.900000,4.000000,0.000000,0.000000,5.000000,5.000000,4.000000,15.600000,72.300000,0.0,951.100000,41.000000,6.100000,90.000000
75%,20.000000,0.060000,90.000000,3.800000,14.300000,117.000000,605.000000,277.000000,480.000000,521.000000,697.000000,18.400000,79.000000,0.0,1006.800000,58.000000,7.700000,125.000000
max,31.100000,0.080000,180.000000,99.100000,18.900000,658.000000,1014.000000,997.000000,1090.000000,1110.000000,1092.000000,40.500000,95.600000,0.0,1017.700000,360.000000,14.300000,175.000000

In [8]:
print('El Dataset tiene' , dataset.shape[0], 'filas')
print('El Dataset tiene'  , dataset.shape[1], 'columnas')

El Dataset tiene 52839 filas
El Dataset tiene 21 columnas

**3. ¿Son todas las columnas relevantes?**

In [9]:
# Eliminamos las filas sobrantes
dataset = dataset.drop(dataset.index[:142])
dataset = dataset.drop(dataset.index[-137:])

# Eliminamos las columnas que no aportan ninguna información extra
dataset = dataset.drop(['PeriodStart', 'Period','AlbedoDaily', 'SnowDepth','SurfacePressure'],axis=1)
dataset

,PeriodEnd,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,WindDirection10m,WindSpeed10m,Zenith
142,2019-01-01T00:00:00Z,16.7,77,0.0,7.5,0,0,0,0,0,0,8.2,54.6,119,3.5,163
143,2019-01-01T00:10:00Z,16.7,74,0.0,7.4,0,0,0,0,0,0,8.2,54.4,118,3.5,165
144,2019-01-01T00:20:00Z,16.8,70,0.0,7.7,0,0,0,0,0,0,8.1,54.8,117,3.5,167
145,2019-01-01T00:30:00Z,17.0,65,0.0,8.0,0,0,0,0,0,0,8.1,55.4,115,3.6,169
146,2019-01-01T00:40:00Z,17.1,57,0.0,8.2,0,0,0,0,0,0,8.0,55.9,114,3.6,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52697,2019-12-31T23:10:00Z,14.0,87,0.0,4.7,0,0,0,0,0,0,5.7,53.8,40,2.9,152
52698,2019-12-31T23:20:00Z,13.9,85,0.0,4.4,0,0,0,0,0,0,5.8,52.7,41,2.9,154
52699,2019-12-31T23:30:00Z,13.9,84,0.0,4.1,0,0,0,0,0,0,5.8,51.5,42,3.0,156
52700,2019-12-31T23:40:00Z,13.9,82,0.0,3.8,0,0,0,0,0,0,5.8,50.3,43,3.0,159
52701,2019-12-31T23:50:00Z,13.9,80,0.0,3.4,0,0,0,0,0,0,5.9,49.2,44,3.0,161

**4. ¿El formato de los datos es correcto?**

In [10]:
# Transformo time_series a formato de fecha y hora con .to_datetime()
dataset['PeriodEnd'] = pd.to_datetime(dataset['PeriodEnd'], format='%Y-%m-%dT%H:%M:%S%z')
# Elimino la zona horaria
dataset['PeriodEnd'] = dataset['PeriodEnd'].dt.tz_localize(None)
# Convierto en el index a la fecha y hora 'time_series'
dataset = dataset.set_index('PeriodEnd')

# Transformo todos los atributos a variables continuas
dataset=dataset.astype('float')

dataset.head()

,AirTemp,Azimuth,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,GtiFixedTilt,GtiTracking,PrecipitableWater,RelativeHumidity,WindDirection10m,WindSpeed10m,Zenith
PeriodEnd,,,,,,,,,,,,,,,
2019-01-01 00:00:00,16.7,77.0,0.0,7.5,0.0,0.0,0.0,0.0,0.0,0.0,8.2,54.6,119.0,3.5,163.0
2019-01-01 00:10:00,16.7,74.0,0.0,7.4,0.0,0.0,0.0,0.0,0.0,0.0,8.2,54.4,118.0,3.5,165.0
2019-01-01 00:20:00,16.8,70.0,0.0,7.7,0.0,0.0,0.0,0.0,0.0,0.0,8.1,54.8,117.0,3.5,167.0
2019-01-01 00:30:00,17.0,65.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,8.1,55.4,115.0,3.6,169.0
2019-01-01 00:40:00,17.1,57.0,0.0,8.2,0.0,0.0,0.0,0.0,0.0,0.0,8.0,55.9,114.0,3.6,171.0

In [11]:
dataset.dtypes

AirTemp              float64
Azimuth              float64
CloudOpacity         float64
DewpointTemp         float64
Dhi                  float64
Dni                  float64
Ebh                  float64
Ghi                  float64
GtiFixedTilt         float64
GtiTracking          float64
PrecipitableWater    float64
RelativeHumidity     float64
WindDirection10m     float64
WindSpeed10m         float64
Zenith               float64
dtype: object

Todos los atributos son variables numéricas contínuas (float64). Esto se va a tener en cuenta de cara a la elección y creación del modelo de aprendizaje.

**5. ¿Los títulos de las columnas son representativos?**

In [12]:
# Cambiamos el título de los atributos a nombres más cortos, sin espacios y sin acentos. 
# Respetamos la misma anotación para todos ellos.
dataset.columns = ['Temp_Aire_ºC','Azimuth_º','Nubosidad_%','Temp_Rocio_ºC','DHI_Wm2','DNI_Wm2','EBH_Wm2','GHI_Wm2','GTI_FT_Wm2','GTI_TR_Wm2','TPW_Kgm2','RH_%','WD_10m_º','WS_10m_ms','Zenith_º']

In [13]:
# Creamos un diccionario con la descripción de cada indicador o atributo.
leyenda2={dataset.columns[0]:'La temperatura del aire (2 metros sobre el nivel de suelo). Unidades en Celsius.',
        dataset.columns[1]:'El ángulo entre una línea apuntando justo al norte y la posición actual del sol en el cielo. Negativo hacia el Este. Positivo hacia el Oeste. 0 justo al Norte. Unidades en grados.',
        dataset.columns[2]:'La medición de opacidad de las nubes para la radiación solar en una localidad dada (0 = sin nubes, 100 = total atenuación de la luz que llega). Unidades en porcentaje.',
        dataset.columns[3]:'La temperatura del punto de rocío del aire (2 metros sobre el nivel del suelo). Unidades en Celsius.',
        dataset.columns[4]:'La componente horizontal de la irradiancia difusa (irradiancia dispersada por la atmósfera). Unidades en W/m2.',
        dataset.columns[5]:'Irradiancia solar llegando en línea directa desde el sol como medida en una superficie mantenida perpendicular al sol. Unidades en W/m2.',
        dataset.columns[6]:'La componente horizontal de la iradiancia directa normal. Unidades en W/m2.',
        dataset.columns[7]:'La irradiancia total recibida en una superficie horizontal. La suma de las componentes horizontales de la irradiancia directa (rayo de luz) y difusa. Unidades en W/m2.',
        dataset.columns[8]:'La irradiancia total recibida en una superficie con un ángulo fijo. El ángulo es establecido de acuerdo a la latitud de la localización. Unidades en W/m2.',
        dataset.columns[9]:'Seguidor de un eje horizontal: La irradiancia total recibida sobre la superficie de un seguidor solar. Unidades en W/m2.',
        dataset.columns[10]:'El contenido de la columna total de agua precipitable. Unidades en kg/m2.',
        dataset.columns[11]:'La humedad relativa del aire (2 metros sobre el nivel del suelo). Unidades en porcentaje.',
        dataset.columns[12]:'La dirección del viento (10 metros sobre el nivel del suelo). Esta es la convención meteorológica. 0 es de tramontana (desde el norte); 90 es de levante (desde el este); 180 es de ostro (desde el sur); 270 es de poniente (desde el oeste). Unidades en grados.',
        dataset.columns[13]:'La velocidad del viento (10 metros sobre el nivel del suelo). Unidades en m/s.',
        dataset.columns[14]:'El ángulo entre una línea perpendicuar a la superficie de la tierra y el sol (90º = amanecer y atardecer; 0º = sol justo encima). Unidades en grados.'}

# Diccionario por pantalla
leyenda2

{'Temp_Aire_ºC': 'La temperatura del aire (2 metros sobre el nivel de suelo). Unidades en Celsius.',
 'Azimuth_º': 'El ángulo entre una línea apuntando justo al norte y la posición actual del sol en el cielo. Negativo hacia el Este. Positivo hacia el Oeste. 0 justo al Norte. Unidades en grados.',
 'Nubosidad_%': 'La medición de opacidad de las nubes para la radiación solar en una localidad dada (0 = sin nubes, 100 = total atenuación de la luz que llega). Unidades en porcentaje.',
 'Temp_Rocio_ºC': 'La temperatura del punto de rocío del aire (2 metros sobre el nivel del suelo). Unidades en Celsius.',
 'DHI_Wm2': 'La componente horizontal de la irradiancia difusa (irradiancia dispersada por la atmósfera). Unidades en W/m2.',
 'DNI_Wm2': 'Irradiancia solar llegando en línea directa desde el sol como medida en una superficie mantenida perpendicular al sol. Unidades en W/m2.',
 'EBH_Wm2': 'La componente horizontal de la iradiancia directa normal. Unidades en W/m2.',
 'GHI_Wm2': 'La irradiancia total recibida en una superficie horizontal. La suma de las componentes horizontales de la irradiancia directa (rayo de luz) y difusa. Unidades en W/m2.',
 'GTI_FT_Wm2': 'La irradiancia total recibida en una superficie con un ángulo fijo. El ángulo es establecido de acuerdo a la latitud de la localización. Unidades en W/m2.',
 'GTI_TR_Wm2': 'Seguidor de un eje horizontal: La irradiancia total recibida sobre la superficie de un seguidor solar. Unidades en W/m2.',
 'TPW_Kgm2': 'El contenido de la columna total de agua precipitable. Unidades en kg/m2.',
 'RH_%': 'La humedad relativa del aire (2 metros sobre el nivel del suelo). Unidades en porcentaje.',
 'WD_10m_º': 'La dirección del viento (10 metros sobre el nivel del suelo). Esta es la convención meteorológica. 0 es de tramontana (desde el norte); 90 es de levante (desde el este); 180 es de ostro (desde el sur); 270 es de poniente (desde el oeste). Unidades en grados.',
 'WS_10m_ms': 'La velocidad del viento (10 metros sobre el nivel del suelo). Unidades en m/s.',
 'Zenith_º': 'El ángulo entre una línea perpendicuar a la superficie de la tierra y el sol (90º = amanecer y atardecer; 0º = sol justo encima). Unidades en grados.'}

**6. ¿Falta algún dato? 
De ser así, indica cuántos y en que atributo(s)**

In [14]:
# Comprobar si falta algún dato y en qué atributo
### Escribe aquí tu código ###
dataset.isna().sum()

Temp_Aire_ºC     0
Azimuth_º        0
Nubosidad_%      0
Temp_Rocio_ºC    0
DHI_Wm2          0
DNI_Wm2          0
EBH_Wm2          0
GHI_Wm2          0
GTI_FT_Wm2       0
GTI_TR_Wm2       0
TPW_Kgm2         0
RH_%             0
WD_10m_º         0
WS_10m_ms        0
Zenith_º         0
dtype: int64

In [15]:
# Mostramos el dataset limpio con los cambios realizados

dataset.describe()

,Temp_Aire_ºC,Azimuth_º,Nubosidad_%,Temp_Rocio_ºC,DHI_Wm2,DNI_Wm2,EBH_Wm2,GHI_Wm2,GTI_FT_Wm2,GTI_TR_Wm2,TPW_Kgm2,RH_%,WD_10m_º,WS_10m_ms,Zenith_º
count,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000
mean,18.629581,0.041001,6.589996,12.648796,79.291686,260.273668,164.534342,243.825247,261.477645,311.807249,16.125325,69.661440,68.702987,5.916153,89.747260
std,2.798637,98.223910,14.326190,2.655090,117.175923,354.960690,263.461755,322.748404,347.072080,388.585274,4.956180,12.983715,81.393103,2.537987,41.723464
min,11.900000,-180.000000,0.000000,-3.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.700000,21.100000,0.000000,0.000000,5.000000
25%,16.900000,-90.000000,0.000000,11.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.900000,63.200000,30.000000,4.200000,54.000000
50%,18.100000,0.000000,0.000000,12.900000,4.000000,0.000000,0.000000,5.000000,5.000000,4.000000,15.600000,72.300000,41.000000,6.100000,90.000000
75%,20.000000,90.000000,3.800000,14.300000,117.000000,605.000000,277.000000,480.000000,520.000000,698.000000,18.400000,79.100000,57.000000,7.700000,125.000000
max,31.100000,180.000000,99.100000,18.900000,658.000000,1014.000000,997.000000,1090.000000,1110.000000,1092.000000,40.500000,95.600000,360.000000,14.300000,175.000000

In [36]:
# Guardamos el archivo en formato CSV y Pickle
import pickle

def save_obj(obj, name ):
       with open('obj/'+ name + '.pkl', 'wb') as f:
           pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

save_obj(dataset, 'df_Tenerife_Meteo_28.14_-16.46_full_2019_clean')
save_obj(leyenda2, 'dict_descripcion_df_Meteo')


dataset.to_csv('df_Tenerife_Meteo_28.14_-16.46_full_2019_clean.csv', index=True)