# PFM: Cleaning Data Electricity SNP

## **1. Importar librerías y datos**

In [1]:
# Importamos las librerías
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import pytz
import seaborn as sns

# Cargamos el conjunto de datos de entrada
df1 = pd.read_csv('df_Tenerife_Electricity_19_01.csv', delimiter=';', encoding='latin-1')
df2 = pd.read_csv('df_Tenerife_Electricity_19_02.csv', delimiter=';', encoding='latin-1')
df3 = pd.read_csv('df_Tenerife_Electricity_19_03.csv', delimiter=';', encoding='latin-1')
df4 = pd.read_csv('df_Tenerife_Electricity_19_04.csv', delimiter=';', encoding='latin-1')
df5 = pd.read_csv('df_Tenerife_Electricity_19_05.csv', delimiter=';', encoding='latin-1')
df6 = pd.read_csv('df_Tenerife_Electricity_19_06.csv', delimiter=';', encoding='latin-1')
df7 = pd.read_csv('df_Tenerife_Electricity_19_07.csv', delimiter=';', encoding='latin-1')
df8 = pd.read_csv('df_Tenerife_Electricity_19_08.csv', delimiter=';', encoding='latin-1')
df9 = pd.read_csv('df_Tenerife_Electricity_19_09.csv', delimiter=';', encoding='latin-1')
df10 = pd.read_csv('df_Tenerife_Electricity_19_10.csv', delimiter=';', encoding='latin-1')
df11 = pd.read_csv('df_Tenerife_Electricity_19_11.csv', delimiter=';', encoding='latin-1')
df12 = pd.read_csv('df_Tenerife_Electricity_19_12.csv', delimiter=';', encoding='latin-1')


dataset = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True)

## **2. Comprender y limpiar los datos**

Es necesario visualizar y comprender los datos con los que vamos a trabajar, así como conocer sus características. El Data Cleaning consiste en identificar y eliminar las irregularidades.

Las irregularidades se pueden clasificar en:
- Missing values
- Incorrect format
- Incorrect headers
-  Anomalies/Outliers

**1. ¿Cuántos datos hay?** **¿Cuántos atributos hay en los datos?**

In [2]:
# Filasxcolumnas de los datos
dataset.shape

(52560, 17)

In [3]:
# Dataset v0 por pantalla
dataset

,time_series,ini,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real hidráulica SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda prevista SNP,Demanda programada SNP,Demanda Real SNP,Precio medio de la generación en los SNP por subsistema,Precio medio de la demanda en los SNP por subsistema
0,2019-01-01 00:00:00+01:00,NaN,347.6,0.0,347.6,0.0,0.0,173.2,159.0,0.0,0.0,15.4,351.0,343.4,348.3,156.18,67.33
1,2019-01-01 00:10:00+01:00,NaN,345.0,0.0,345.0,0.0,0.0,176.2,152.8,0.0,0.0,16.0,348.1,343.4,345.0,NaN,NaN
2,2019-01-01 00:20:00+01:00,NaN,346.9,0.1,347.0,0.0,0.0,174.9,155.9,0.1,0.0,16.1,345.5,343.4,347.7,NaN,NaN
3,2019-01-01 00:30:00+01:00,NaN,344.5,0.2,344.7,0.0,0.0,173.8,155.4,0.2,0.0,15.3,343.0,343.4,343.9,NaN,NaN
4,2019-01-01 00:40:00+01:00,NaN,342.9,0.1,343.0,0.0,0.0,175.8,151.6,0.1,0.0,15.5,340.8,343.4,343.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2019-12-31 23:10:00+01:00,NaN,371.4,2.3,373.7,0.0,0.0,95.4,245.1,2.3,0.0,30.9,380.3,370.1,374.7,NaN,NaN
52556,2019-12-31 23:20:00+01:00,NaN,368.0,2.4,370.4,0.0,0.0,85.5,251.7,2.4,0.0,30.8,374.6,370.1,370.9,NaN,NaN
52557,2019-12-31 23:30:00+01:00,NaN,362.6,2.7,365.3,0.0,0.0,79.9,251.6,2.7,0.0,31.1,369.4,370.1,366.9,NaN,NaN
52558,2019-12-31 23:40:00+01:00,NaN,355.2,5.0,360.2,0.0,0.0,75.9,248.6,5.0,0.0,30.7,364.6,370.1,360.6,NaN,NaN
52559,2019-12-31 23:50:00+01:00,NaN,349.6,6.3,355.9,0.0,0.0,70.0,248.7,6.3,0.0,30.9,360.3,370.1,356.1,NaN,NaN

**2. ¿Qué significan los datos?**

In [4]:
# Formato de los datos
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52560 entries, 0 to 52559
Data columns (total 17 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   time_series                                              52560 non-null  object
 1   ini                                                      0 non-null      float64
 2   Generación T.Real no renovable SNP                       52452 non-null  float64
 3   Generación T.Real renovable SNP                          52452 non-null  float64
 4   Demanda real suma de generación SNP                      52452 non-null  float64
 5   Generación T.Real hidráulica SNP                         52452 non-null  float64
 6   Generación T.Real solar fotovoltaica SNP                 52452 non-null  float64
 7   Generación T.Real turbina de vapor SNP                   52452 non-null  float64
 8   Generación T.Real ciclo combinado SNP                    52452 non-null  float64
 9   Generación T.Real eólica SNP                             52452 non-null  float64
 10  Generación T.Real turbina de gas SNP                     52452 non-null  float64
 11  Generación T.Real motores diésel SNP                     52452 non-null  float64
 12  Demanda prevista SNP                                     52560 non-null  float64
 13  Demanda programada SNP                                   52560 non-null  float64
 14  Demanda Real SNP                                         52452 non-null  float64
 15  Precio medio de la generación en los SNP por subsistema  8760 non-null   float64
 16  Precio medio de la demanda en los SNP por subsistema     8760 non-null   float64
dtypes: float64(16), object(1)
memory usage: 6.8+ MB

In [5]:
# Resumen estadístico del conjunto de datos de entrada
dataset.describe()

,ini,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real hidráulica SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda prevista SNP,Demanda programada SNP,Demanda Real SNP,Precio medio de la generación en los SNP por subsistema,Precio medio de la demanda en los SNP por subsistema
count,0.0,52452.000000,52452.000000,52452.000000,52452.0,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52560.000000,52560.000000,52452.000000,8760.000000,8760.000000
mean,NaN,330.677063,78.481057,409.158114,0.0,21.637854,123.580016,173.618590,56.843203,11.986193,21.492269,409.655592,409.635148,409.210085,147.892823,53.087953
std,NaN,82.308351,67.897543,79.538800,0.0,29.834941,45.502301,52.756052,53.269599,17.728651,13.786134,79.236014,78.788295,79.543610,24.760690,12.705926
min,NaN,0.000000,0.000000,0.000000,0.0,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,262.300000,262.900000,0.000000,92.190000,5.170000
25%,NaN,273.500000,16.375000,329.175000,0.0,0.000000,93.000000,143.500000,6.400000,0.000000,14.700000,329.500000,330.500000,329.100000,134.307500,43.740000
50%,NaN,324.700000,64.400000,431.400000,0.0,0.000000,122.900000,163.300000,41.100000,0.000000,18.800000,432.500000,432.350000,431.500000,147.700000,53.795000
75%,NaN,393.600000,127.500000,477.100000,0.0,43.600000,162.100000,202.400000,101.700000,20.800000,34.900000,477.900000,478.200000,477.100000,160.830000,62.020000
max,NaN,550.900000,265.600000,572.500000,0.0,99.800000,211.700000,396.000000,181.900000,206.500000,40.600000,577.000000,570.900000,572.800000,1583.000000,114.420000

In [6]:
print('El Dataset tiene' , dataset.shape[0], 'filas')
print('El Dataset tiene'  , dataset.shape[1], 'columnas')

El Dataset tiene 52560 filas
El Dataset tiene 17 columnas

**3. ¿Son todas las columnas relevantes?**

In [7]:
# Eliminamos las columnas que no aportan ninguna información extra
dataset = dataset.drop(['ini','Generación T.Real hidráulica SNP','Demanda prevista SNP','Demanda Real SNP','Precio medio de la demanda en los SNP por subsistema'],axis=1)

# Resumen estadístico dataset v1
dataset.describe()

,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
count,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52452.000000,52560.000000,8760.000000
mean,330.677063,78.481057,409.158114,21.637854,123.580016,173.618590,56.843203,11.986193,21.492269,409.635148,147.892823
std,82.308351,67.897543,79.538800,29.834941,45.502301,52.756052,53.269599,17.728651,13.786134,78.788295,24.760690
min,0.000000,0.000000,0.000000,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,262.900000,92.190000
25%,273.500000,16.375000,329.175000,0.000000,93.000000,143.500000,6.400000,0.000000,14.700000,330.500000,134.307500
50%,324.700000,64.400000,431.400000,0.000000,122.900000,163.300000,41.100000,0.000000,18.800000,432.350000,147.700000
75%,393.600000,127.500000,477.100000,43.600000,162.100000,202.400000,101.700000,20.800000,34.900000,478.200000,160.830000
max,550.900000,265.600000,572.500000,99.800000,211.700000,396.000000,181.900000,206.500000,40.600000,570.900000,1583.000000

No se ha conseguido saber la generación hidráulica en tenerife para el año 2019, lo único que sabemos es que actualmente sólo existe una instalación en funcionamiento: la central hidroeléctrica de la Vergara - La Guancha con una potencia instalada neta de 387,1 kW. Lo que si se ha obtenido del informe anual de REE para el 2019, es la generación hidráulica anual en el conjunto de las islas Canarias (Centrales minihidráulicas Tenerife 387,1 kW +Las Palmas 800 kW) que fué de 3,509 GWh correspondiente al 0,1% de la generación de energía total de la isla de Tenerife.

In [8]:
# Dataset v1 por pantalla
dataset

,time_series,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
0,2019-01-01 00:00:00+01:00,347.6,0.0,347.6,0.0,173.2,159.0,0.0,0.0,15.4,343.4,156.18
1,2019-01-01 00:10:00+01:00,345.0,0.0,345.0,0.0,176.2,152.8,0.0,0.0,16.0,343.4,NaN
2,2019-01-01 00:20:00+01:00,346.9,0.1,347.0,0.0,174.9,155.9,0.1,0.0,16.1,343.4,NaN
3,2019-01-01 00:30:00+01:00,344.5,0.2,344.7,0.0,173.8,155.4,0.2,0.0,15.3,343.4,NaN
4,2019-01-01 00:40:00+01:00,342.9,0.1,343.0,0.0,175.8,151.6,0.1,0.0,15.5,343.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
52555,2019-12-31 23:10:00+01:00,371.4,2.3,373.7,0.0,95.4,245.1,2.3,0.0,30.9,370.1,NaN
52556,2019-12-31 23:20:00+01:00,368.0,2.4,370.4,0.0,85.5,251.7,2.4,0.0,30.8,370.1,NaN
52557,2019-12-31 23:30:00+01:00,362.6,2.7,365.3,0.0,79.9,251.6,2.7,0.0,31.1,370.1,NaN
52558,2019-12-31 23:40:00+01:00,355.2,5.0,360.2,0.0,75.9,248.6,5.0,0.0,30.7,370.1,NaN
52559,2019-12-31 23:50:00+01:00,349.6,6.3,355.9,0.0,70.0,248.7,6.3,0.0,30.9,370.1,NaN

**4. ¿El formato de los datos es correcto?**

In [9]:
# Transformamos time_series a formato de fecha y hora con .to_datetime()
dataset['time_series'] = pd.to_datetime(dataset['time_series'], format='%Y-%m-%d %H:%M:%S', utc=True)
# Eliminamos la zona horaria
dataset['time_series'] = dataset['time_series'].dt.tz_convert(tz='Europe/Madrid')
dataset['time_series'] = dataset['time_series'].dt.tz_localize(None)
# Convertimos en el index a la fecha y hora 'time_series'
dataset = dataset.set_index('time_series')

# 5 primeras filas del dataset
dataset.head(5)

,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
time_series,,,,,,,,,,,
2019-01-01 00:00:00,347.6,0.0,347.6,0.0,173.2,159.0,0.0,0.0,15.4,343.4,156.18
2019-01-01 00:10:00,345.0,0.0,345.0,0.0,176.2,152.8,0.0,0.0,16.0,343.4,NaN
2019-01-01 00:20:00,346.9,0.1,347.0,0.0,174.9,155.9,0.1,0.0,16.1,343.4,NaN
2019-01-01 00:30:00,344.5,0.2,344.7,0.0,173.8,155.4,0.2,0.0,15.3,343.4,NaN
2019-01-01 00:40:00,342.9,0.1,343.0,0.0,175.8,151.6,0.1,0.0,15.5,343.4,NaN

In [10]:
# Tipo de datos
dataset.dtypes

Generación T.Real no renovable SNP                         float64
Generación T.Real renovable SNP                            float64
Demanda real suma de generación SNP                        float64
Generación T.Real solar fotovoltaica SNP                   float64
Generación T.Real turbina de vapor SNP                     float64
Generación T.Real ciclo combinado SNP                      float64
Generación T.Real eólica SNP                               float64
Generación T.Real turbina de gas SNP                       float64
Generación T.Real motores diésel SNP                       float64
Demanda programada SNP                                     float64
Precio medio de la generación en los SNP por subsistema    float64
dtype: object

Todos los atributos son variables continuas (números reales). Esto se tiene que tomar en consideración para la elección y creación del modelo de aprendizaje.

**5. ¿Los títulos de las columnas son representativos?**

In [11]:
# Cambiamos el título de los atributos a nombres más cortos, sin espacios y sin acentos. 
# Respetamos la misma anotación para todos ellos.
dataset.columns = ['Generacion_no_renovable_MW','Generacion_renovable_MW','Demanda_real_MW','Generacion_FV_MW','Generacion_TV_MW','Generacion_CC_MW','Generacion_EO_MW','Generacion_TG_MW','Generacion_MD_MW','Demanda_programada_MW','Precio_generacion_€MWh']

In [12]:
# Creamos un diccionario con la descripción de cada indicador o atributo.
leyenda={dataset.columns[0]:'Generación en MW medida en tiempo real del tipo de producción no renovable en la isla de Tenerife',
        dataset.columns[1]:'Generación en MW medida en tiempo real del tipo de producción renovable en la isla de Tenerife',
        dataset.columns[2]:'Es el sumatorio de la medida en MW en tiempo real para los distintos tipos de producción en la isla de Tenerife',
        dataset.columns[3]:'Generación medida en MW en tiempo real del tipo de producción solar fotovoltaica en la isla de Tenerife',
        dataset.columns[4]:'Generación medida en MW en tiempo real del tipo de producción turbina de vapor en la isla de Tenerife',
        dataset.columns[5]:'Generación medida en MW en tiempo real del tipo de producción ciclo combinado en la isla de Tenerife',
        dataset.columns[6]:'Generación medida en MW en tiempo real del tipo de producción eólica en la isla de Tenerife',
        dataset.columns[7]:'Generación medida en MW en tiempo real del tipo de producción turbina de gas en la isla de Tenerife',
        dataset.columns[8]:'Generación medida en MW en tiempo real del tipo de producción motor diésel en la isla de Tenerife',
        dataset.columns[9]:'Es la demanda de energía programada en MW en la isla de Tenerife calculada con los programas de los grupos de generación a los que se les haya asignado suministro.',
        dataset.columns[10]:'Precio medio ponderado en €/MWh de la generación de energía en la isla de Tenerife'}

# Diccionario por pantalla
leyenda

{'Generacion_no_renovable_MW': 'Generación en MW medida en tiempo real del tipo de producción no renovable en la isla de Tenerife',
 'Generacion_renovable_MW': 'Generación en MW medida en tiempo real del tipo de producción renovable en la isla de Tenerife',
 'Demanda_real_MW': 'Es el sumatorio de la medida en MW en tiempo real para los distintos tipos de producción en la isla de Tenerife',
 'Generacion_FV_MW': 'Generación medida en MW en tiempo real del tipo de producción solar fotovoltaica en la isla de Tenerife',
 'Generacion_TV_MW': 'Generación medida en MW en tiempo real del tipo de producción turbina de vapor en la isla de Tenerife',
 'Generacion_CC_MW': 'Generación medida en MW en tiempo real del tipo de producción ciclo combinado en la isla de Tenerife',
 'Generacion_EO_MW': 'Generación medida en MW en tiempo real del tipo de producción eólica en la isla de Tenerife',
 'Generacion_TG_MW': 'Generación medida en MW en tiempo real del tipo de producción turbina de gas en la isla de Tenerife',
 'Generacion_MD_MW': 'Generación medida en MW en tiempo real del tipo de producción motor diésel en la isla de Tenerife',
 'Demanda_programada_MW': 'Es la demanda de energía programada en MW en la isla de Tenerife calculada con los programas de los grupos de generación a los que se les haya asignado suministro.',
 'Precio_generacion_€MWh': 'Precio medio ponderado en €/MWh de la generación de energía en la isla de Tenerife'}

**6. ¿Falta algún dato? 
De ser así, indica cuántos y en que atributo(s)**

In [13]:
# Comprobamos si falta algún dato y en qué atributo
dataset.isna().sum()

Generacion_no_renovable_MW      108
Generacion_renovable_MW         108
Demanda_real_MW                 108
Generacion_FV_MW                108
Generacion_TV_MW                108
Generacion_CC_MW                108
Generacion_EO_MW                108
Generacion_TG_MW                108
Generacion_MD_MW                108
Demanda_programada_MW             0
Precio_generacion_€MWh        43800
dtype: int64

In [14]:
# Localizamos los valores nulos de los indicadores telemedidos
dataset[dataset['Generacion_no_renovable_MW'].isna()]

,Generacion_no_renovable_MW,Generacion_renovable_MW,Demanda_real_MW,Generacion_FV_MW,Generacion_TV_MW,Generacion_CC_MW,Generacion_EO_MW,Generacion_TG_MW,Generacion_MD_MW,Demanda_programada_MW,Precio_generacion_€MWh
time_series,,,,,,,,,,,
2019-01-15 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.1,164.48
2019-01-15 02:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.1,NaN
2019-01-15 02:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.1,NaN
2019-01-15 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.1,NaN
2019-01-15 02:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,281.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2019-01-15 19:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,NaN
2019-01-15 19:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,NaN
2019-01-15 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,NaN
2019-01-15 19:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,NaN
2019-01-15 19:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,537.0,NaN

Se observa un gap entre las 2 y las 20 horas del 15 de enero de 2019 en el cual no hay registro de valores telemedidos, posiblemente debido a un fallo del sistema de monitorización y/o del sistema de comunicación.

In [15]:
# Rellenamos el valor del precio de generación y demanda de acuerdo al último valor existente
dataset = dataset.fillna(method='pad')

# Eliminamos la fila entera cuando no tenemos datos de generación medida a tiempo real
dataset = dataset.dropna(subset=dataset.columns[:10])

# Comprobamos si falta algún dato y en qué atributo
dataset.isna().sum()

Generacion_no_renovable_MW    0
Generacion_renovable_MW       0
Demanda_real_MW               0
Generacion_FV_MW              0
Generacion_TV_MW              0
Generacion_CC_MW              0
Generacion_EO_MW              0
Generacion_TG_MW              0
Generacion_MD_MW              0
Demanda_programada_MW         0
Precio_generacion_€MWh        0
dtype: int64

In [ ]:
# Mostramos el dataset limpio con los cambios realizados

dataset.describe()

In [28]:
# Guardamos el archivo en formato CSV y Pickle
import pickle

def save_obj(obj, name ):
       with open('obj/'+ name + '.pkl', 'wb') as f:
           pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

save_obj(dataset, 'df_Tenerife_Electricity_full_2019_clean')
save_obj(leyenda, 'dict_descripcion_df_Electricity')


dataset.to_csv('df_Tenerife_Electricity_full_2019_clean.csv', index=True)