# PFM: Cleaning Data Electricity SNP

## **1. Importar librerías y datos**

In [18]:
# Importamos las librerías
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import pytz
import seaborn as sns

# Cargamos el conjunto de datos de entrada
#df1 = pd.read_csv('df_Tenerife_Electricity_19_01.csv', delimiter=';', encoding='latin-1')
#df2 = pd.read_csv('df_Tenerife_Electricity_19_02.csv', delimiter=';', encoding='latin-1')
#df3 = pd.read_csv('df_Tenerife_Electricity_19_03.csv', delimiter=';', encoding='latin-1')
#df4 = pd.read_csv('df_Tenerife_Electricity_19_04.csv', delimiter=';', encoding='latin-1')
#df5 = pd.read_csv('df_Tenerife_Electricity_19_05.csv', delimiter=';', encoding='latin-1')
#df6 = pd.read_csv('df_Tenerife_Electricity_19_06.csv', delimiter=';', encoding='latin-1')
#df7 = pd.read_csv('df_Tenerife_Electricity_19_07.csv', delimiter=';', encoding='latin-1')
#df8 = pd.read_csv('df_Tenerife_Electricity_19_08.csv', delimiter=';', encoding='latin-1')
#df9 = pd.read_csv('df_Tenerife_Electricity_19_09.csv', delimiter=';', encoding='latin-1')
#df10 = pd.read_csv('df_Tenerife_Electricity_19_10.csv', delimiter=';', encoding='latin-1')
#df11 = pd.read_csv('df_Tenerife_Electricity_19_11.csv', delimiter=';', encoding='latin-1')
#df12 = pd.read_csv('df_Tenerife_Electricity_19_12.csv', delimiter=';', encoding='latin-1')


#dataset = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index=True)
dataset = pd.read_csv('df_Tenerife_Electricity_20_07.csv', delimiter=';', encoding='latin-1')

## **2. Comprender y limpiar los datos**

Es necesario visualizar y comprender los datos con los que vamos a trabajar, así como conocer sus características. El Data Cleaning consiste en identificar y eliminar las irregularidades.

Las irregularidades se pueden clasificar en:
- Missing values
- Incorrect format
- Incorrect headers
-  Anomalies/Outliers

**1. ¿Cuántos datos hay?** **¿Cuántos atributos hay en los datos?**

In [19]:
# Filasxcolumnas de los datos
dataset.shape

(4464, 17)

In [20]:
# Dataset v0 por pantalla
dataset

,time_series,ini,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real hidráulica SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda prevista SNP,Demanda programada SNP,Demanda Real SNP,Precio medio de la generación en los SNP por subsistema,Precio medio de la demanda en los SNP por subsistema
0,2020-07-01 00:00:00+02:00,NaN,274.2,42.2,316.4,0.0,0.0,90.8,168.3,42.2,0.0,15.1,310.9,293.1,315.6,148.47,35.88
1,2020-07-01 00:10:00+02:00,NaN,259.2,52.0,311.2,0.0,0.0,74.3,169.0,52.0,0.0,15.9,304.1,293.1,310.8,NaN,NaN
2,2020-07-01 00:20:00+02:00,NaN,252.4,53.7,306.1,0.0,0.0,71.3,165.7,53.7,0.0,15.4,297.9,293.1,307.1,NaN,NaN
3,2020-07-01 00:30:00+02:00,NaN,246.9,52.8,299.7,0.0,0.0,65.0,166.6,52.8,0.0,15.3,292.2,293.1,299.8,NaN,NaN
4,2020-07-01 00:40:00+02:00,NaN,242.6,53.5,296.1,0.0,0.0,64.1,163.3,53.5,0.0,15.2,287.1,293.1,296.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4459,2020-07-31 23:10:00+02:00,NaN,282.0,84.6,366.6,0.0,0.0,83.8,154.6,84.6,10.8,32.8,366.0,352.1,365.8,NaN,NaN
4460,2020-07-31 23:20:00+02:00,NaN,282.7,82.0,364.7,0.0,0.0,79.7,170.3,82.0,0.0,32.7,358.4,352.1,364.4,NaN,NaN
4461,2020-07-31 23:30:00+02:00,NaN,284.1,72.3,356.4,0.0,0.0,85.6,163.8,72.3,0.0,34.7,351.4,352.1,355.4,NaN,NaN
4462,2020-07-31 23:40:00+02:00,NaN,289.2,61.7,350.9,0.0,0.0,91.1,165.3,61.7,0.0,32.8,344.8,352.1,350.0,NaN,NaN
4463,2020-07-31 23:50:00+02:00,NaN,284.6,59.2,343.8,0.0,0.0,90.9,160.9,59.2,0.0,32.8,338.8,352.1,343.8,NaN,NaN

**2. ¿Qué significan los datos?**

In [21]:
# Formato de los datos
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4464 entries, 0 to 4463
Data columns (total 17 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   time_series                                              4464 non-null   object
 1   ini                                                      0 non-null      float64
 2   Generación T.Real no renovable SNP                       4464 non-null   float64
 3   Generación T.Real renovable SNP                          4464 non-null   float64
 4   Demanda real suma de generación SNP                      4464 non-null   float64
 5   Generación T.Real hidráulica SNP                         4464 non-null   float64
 6   Generación T.Real solar fotovoltaica SNP                 4464 non-null   float64
 7   Generación T.Real turbina de vapor SNP                   4464 non-null   float64
 8   Generación T.Real ciclo combinado SNP                    4464 non-null   float64
 9   Generación T.Real eólica SNP                             4464 non-null   float64
 10  Generación T.Real turbina de gas SNP                     4464 non-null   float64
 11  Generación T.Real motores diésel SNP                     4464 non-null   float64
 12  Demanda prevista SNP                                     4464 non-null   float64
 13  Demanda programada SNP                                   4464 non-null   float64
 14  Demanda Real SNP                                         4464 non-null   float64
 15  Precio medio de la generación en los SNP por subsistema  744 non-null    float64
 16  Precio medio de la demanda en los SNP por subsistema     744 non-null    float64
dtypes: float64(16), object(1)
memory usage: 593.0+ KB

In [22]:
# Resumen estadístico del conjunto de datos de entrada
dataset.describe()

,ini,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real hidráulica SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda prevista SNP,Demanda programada SNP,Demanda Real SNP,Precio medio de la generación en los SNP por subsistema,Precio medio de la demanda en los SNP por subsistema
count,0.0,4464.000000,4464.000000,4464.000000,4464.0,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,744.000000,744.000000
mean,NaN,258.707773,106.247110,364.954884,0.0,24.008109,79.366555,140.875179,82.239001,14.194848,24.271192,367.151456,367.145565,364.944736,140.863804,39.264073
std,NaN,64.179817,66.491544,67.450088,0.0,29.897334,28.405799,30.718256,49.031394,26.721438,10.379995,64.981094,64.653582,67.426412,76.653630,7.571931
min,NaN,4.500000,0.000000,4.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,243.300000,244.600000,4.500000,100.490000,23.820000
25%,NaN,205.700000,59.875000,302.375000,0.0,0.000000,60.400000,117.600000,41.175000,0.000000,17.100000,303.900000,303.150000,302.600000,122.037500,33.082500
50%,NaN,250.050000,96.250000,377.850000,0.0,3.050000,66.100000,147.500000,87.600000,0.000000,18.600000,380.050000,380.600000,377.750000,136.355000,39.220000
75%,NaN,305.100000,156.025000,419.700000,0.0,50.225000,97.500000,164.000000,120.825000,17.525000,35.000000,420.500000,420.450000,419.425000,151.237500,45.135000
max,NaN,436.800000,257.300000,484.100000,0.0,92.700000,148.600000,254.400000,173.400000,194.000000,39.600000,478.200000,476.900000,486.700000,2082.250000,58.640000

In [23]:
print('El Dataset tiene' , dataset.shape[0], 'filas')
print('El Dataset tiene'  , dataset.shape[1], 'columnas')

El Dataset tiene 4464 filas
El Dataset tiene 17 columnas

**3. ¿Son todas las columnas relevantes?**

In [24]:
# Eliminamos las columnas que no aportan ninguna información extra
dataset = dataset.drop(['ini','Generación T.Real hidráulica SNP','Demanda prevista SNP','Demanda Real SNP','Precio medio de la demanda en los SNP por subsistema'],axis=1)

# Resumen estadístico dataset v1
dataset.describe()

,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
count,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,744.000000
mean,258.707773,106.247110,364.954884,24.008109,79.366555,140.875179,82.239001,14.194848,24.271192,367.145565,140.863804
std,64.179817,66.491544,67.450088,29.897334,28.405799,30.718256,49.031394,26.721438,10.379995,64.653582,76.653630
min,4.500000,0.000000,4.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,244.600000,100.490000
25%,205.700000,59.875000,302.375000,0.000000,60.400000,117.600000,41.175000,0.000000,17.100000,303.150000,122.037500
50%,250.050000,96.250000,377.850000,3.050000,66.100000,147.500000,87.600000,0.000000,18.600000,380.600000,136.355000
75%,305.100000,156.025000,419.700000,50.225000,97.500000,164.000000,120.825000,17.525000,35.000000,420.450000,151.237500
max,436.800000,257.300000,484.100000,92.700000,148.600000,254.400000,173.400000,194.000000,39.600000,476.900000,2082.250000

No se ha conseguido saber la generación hidráulica en tenerife para el año 2019, lo único que sabemos es que actualmente sólo existe una instalación en funcionamiento: la central hidroeléctrica de la Vergara - La Guancha con una potencia instalada neta de 387,1 kW. Lo que si se ha obtenido del informe anual de REE para el 2019, es la generación hidráulica anual en el conjunto de las islas Canarias (Centrales minihidráulicas Tenerife 387,1 kW +Las Palmas 800 kW) que fué de 3,509 GWh correspondiente al 0,1% de la generación de energía total de la isla de Tenerife.

In [25]:
# Dataset v1 por pantalla
dataset

,time_series,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
0,2020-07-01 00:00:00+02:00,274.2,42.2,316.4,0.0,90.8,168.3,42.2,0.0,15.1,293.1,148.47
1,2020-07-01 00:10:00+02:00,259.2,52.0,311.2,0.0,74.3,169.0,52.0,0.0,15.9,293.1,NaN
2,2020-07-01 00:20:00+02:00,252.4,53.7,306.1,0.0,71.3,165.7,53.7,0.0,15.4,293.1,NaN
3,2020-07-01 00:30:00+02:00,246.9,52.8,299.7,0.0,65.0,166.6,52.8,0.0,15.3,293.1,NaN
4,2020-07-01 00:40:00+02:00,242.6,53.5,296.1,0.0,64.1,163.3,53.5,0.0,15.2,293.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4459,2020-07-31 23:10:00+02:00,282.0,84.6,366.6,0.0,83.8,154.6,84.6,10.8,32.8,352.1,NaN
4460,2020-07-31 23:20:00+02:00,282.7,82.0,364.7,0.0,79.7,170.3,82.0,0.0,32.7,352.1,NaN
4461,2020-07-31 23:30:00+02:00,284.1,72.3,356.4,0.0,85.6,163.8,72.3,0.0,34.7,352.1,NaN
4462,2020-07-31 23:40:00+02:00,289.2,61.7,350.9,0.0,91.1,165.3,61.7,0.0,32.8,352.1,NaN
4463,2020-07-31 23:50:00+02:00,284.6,59.2,343.8,0.0,90.9,160.9,59.2,0.0,32.8,352.1,NaN

**4. ¿El formato de los datos es correcto?**

In [26]:
# Transformamos time_series a formato de fecha y hora con .to_datetime()
dataset['time_series'] = pd.to_datetime(dataset['time_series'], format='%Y-%m-%d %H:%M:%S', utc=True)
# Eliminamos la zona horaria
dataset['time_series'] = dataset['time_series'].dt.tz_convert(tz='Europe/Madrid')
dataset['time_series'] = dataset['time_series'].dt.tz_localize(None)
# Convertimos en el index a la fecha y hora 'time_series'
dataset = dataset.set_index('time_series')

# 5 primeras filas del dataset
dataset.head(5)

,Generación T.Real no renovable SNP,Generación T.Real renovable SNP,Demanda real suma de generación SNP,Generación T.Real solar fotovoltaica SNP,Generación T.Real turbina de vapor SNP,Generación T.Real ciclo combinado SNP,Generación T.Real eólica SNP,Generación T.Real turbina de gas SNP,Generación T.Real motores diésel SNP,Demanda programada SNP,Precio medio de la generación en los SNP por subsistema
time_series,,,,,,,,,,,
2020-07-01 00:00:00,274.2,42.2,316.4,0.0,90.8,168.3,42.2,0.0,15.1,293.1,148.47
2020-07-01 00:10:00,259.2,52.0,311.2,0.0,74.3,169.0,52.0,0.0,15.9,293.1,NaN
2020-07-01 00:20:00,252.4,53.7,306.1,0.0,71.3,165.7,53.7,0.0,15.4,293.1,NaN
2020-07-01 00:30:00,246.9,52.8,299.7,0.0,65.0,166.6,52.8,0.0,15.3,293.1,NaN
2020-07-01 00:40:00,242.6,53.5,296.1,0.0,64.1,163.3,53.5,0.0,15.2,293.1,NaN

In [27]:
# Tipo de datos
dataset.dtypes

Generación T.Real no renovable SNP                         float64
Generación T.Real renovable SNP                            float64
Demanda real suma de generación SNP                        float64
Generación T.Real solar fotovoltaica SNP                   float64
Generación T.Real turbina de vapor SNP                     float64
Generación T.Real ciclo combinado SNP                      float64
Generación T.Real eólica SNP                               float64
Generación T.Real turbina de gas SNP                       float64
Generación T.Real motores diésel SNP                       float64
Demanda programada SNP                                     float64
Precio medio de la generación en los SNP por subsistema    float64
dtype: object

Todos los atributos son variables continuas (números reales). Esto se tiene que tomar en consideración para la elección y creación del modelo de aprendizaje.

**5. ¿Los títulos de las columnas son representativos?**

In [28]:
# Cambiamos el título de los atributos a nombres más cortos, sin espacios y sin acentos. 
# Respetamos la misma anotación para todos ellos.
dataset.columns = ['Generacion_no_renovable_MW','Generacion_renovable_MW','Demanda_real_MW','Generacion_FV_MW','Generacion_TV_MW','Generacion_CC_MW','Generacion_EO_MW','Generacion_TG_MW','Generacion_MD_MW','Demanda_programada_MW','Precio_generacion_€MWh']

In [29]:
# Creamos un diccionario con la descripción de cada indicador o atributo.
leyenda={dataset.columns[0]:'Generación en MW medida en tiempo real del tipo de producción no renovable en la isla de Tenerife',
        dataset.columns[1]:'Generación en MW medida en tiempo real del tipo de producción renovable en la isla de Tenerife',
        dataset.columns[2]:'Es el sumatorio de la medida en MW en tiempo real para los distintos tipos de producción en la isla de Tenerife',
        dataset.columns[3]:'Generación medida en MW en tiempo real del tipo de producción solar fotovoltaica en la isla de Tenerife',
        dataset.columns[4]:'Generación medida en MW en tiempo real del tipo de producción turbina de vapor en la isla de Tenerife',
        dataset.columns[5]:'Generación medida en MW en tiempo real del tipo de producción ciclo combinado en la isla de Tenerife',
        dataset.columns[6]:'Generación medida en MW en tiempo real del tipo de producción eólica en la isla de Tenerife',
        dataset.columns[7]:'Generación medida en MW en tiempo real del tipo de producción turbina de gas en la isla de Tenerife',
        dataset.columns[8]:'Generación medida en MW en tiempo real del tipo de producción motor diésel en la isla de Tenerife',
        dataset.columns[9]:'Es la demanda de energía programada en MW en la isla de Tenerife calculada con los programas de los grupos de generación a los que se les haya asignado suministro.',
        dataset.columns[10]:'Precio medio ponderado en €/MWh de la generación de energía en la isla de Tenerife'}

# Diccionario por pantalla
leyenda

{'Generacion_no_renovable_MW': 'Generación en MW medida en tiempo real del tipo de producción no renovable en la isla de Tenerife',
 'Generacion_renovable_MW': 'Generación en MW medida en tiempo real del tipo de producción renovable en la isla de Tenerife',
 'Demanda_real_MW': 'Es el sumatorio de la medida en MW en tiempo real para los distintos tipos de producción en la isla de Tenerife',
 'Generacion_FV_MW': 'Generación medida en MW en tiempo real del tipo de producción solar fotovoltaica en la isla de Tenerife',
 'Generacion_TV_MW': 'Generación medida en MW en tiempo real del tipo de producción turbina de vapor en la isla de Tenerife',
 'Generacion_CC_MW': 'Generación medida en MW en tiempo real del tipo de producción ciclo combinado en la isla de Tenerife',
 'Generacion_EO_MW': 'Generación medida en MW en tiempo real del tipo de producción eólica en la isla de Tenerife',
 'Generacion_TG_MW': 'Generación medida en MW en tiempo real del tipo de producción turbina de gas en la isla de Tenerife',
 'Generacion_MD_MW': 'Generación medida en MW en tiempo real del tipo de producción motor diésel en la isla de Tenerife',
 'Demanda_programada_MW': 'Es la demanda de energía programada en MW en la isla de Tenerife calculada con los programas de los grupos de generación a los que se les haya asignado suministro.',
 'Precio_generacion_€MWh': 'Precio medio ponderado en €/MWh de la generación de energía en la isla de Tenerife'}

**6. ¿Falta algún dato? 
De ser así, indica cuántos y en que atributo(s)**

In [30]:
# Comprobamos si falta algún dato y en qué atributo
dataset.isna().sum()

Generacion_no_renovable_MW       0
Generacion_renovable_MW          0
Demanda_real_MW                  0
Generacion_FV_MW                 0
Generacion_TV_MW                 0
Generacion_CC_MW                 0
Generacion_EO_MW                 0
Generacion_TG_MW                 0
Generacion_MD_MW                 0
Demanda_programada_MW            0
Precio_generacion_€MWh        3720
dtype: int64

In [31]:
# Localizamos los valores nulos de los indicadores telemedidos
dataset[dataset['Generacion_no_renovable_MW'].isna()]

Empty DataFrame
Columns: [Generacion_no_renovable_MW, Generacion_renovable_MW, Demanda_real_MW, Generacion_FV_MW, Generacion_TV_MW, Generacion_CC_MW, Generacion_EO_MW, Generacion_TG_MW, Generacion_MD_MW, Demanda_programada_MW, Precio_generacion_€MWh]
Index: []

Se observa un gap entre las 2 y las 20 horas del 15 de enero de 2019 en el cual no hay registro de valores telemedidos, posiblemente debido a un fallo del sistema de monitorización y/o del sistema de comunicación.

In [32]:
# Rellenamos el valor del precio de generación y demanda de acuerdo al último valor existente
dataset = dataset.fillna(method='pad')

# Eliminamos la fila entera cuando no tenemos datos de generación medida a tiempo real
dataset = dataset.dropna(subset=dataset.columns[:10])

# Comprobamos si falta algún dato y en qué atributo
dataset.isna().sum()

Generacion_no_renovable_MW    0
Generacion_renovable_MW       0
Demanda_real_MW               0
Generacion_FV_MW              0
Generacion_TV_MW              0
Generacion_CC_MW              0
Generacion_EO_MW              0
Generacion_TG_MW              0
Generacion_MD_MW              0
Demanda_programada_MW         0
Precio_generacion_€MWh        0
dtype: int64

In [33]:
# Mostramos el dataset limpio con los cambios realizados

dataset.describe()

,Generacion_no_renovable_MW,Generacion_renovable_MW,Demanda_real_MW,Generacion_FV_MW,Generacion_TV_MW,Generacion_CC_MW,Generacion_EO_MW,Generacion_TG_MW,Generacion_MD_MW,Demanda_programada_MW,Precio_generacion_€MWh
count,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000,4464.000000
mean,258.707773,106.247110,364.954884,24.008109,79.366555,140.875179,82.239001,14.194848,24.271192,367.145565,140.863804
std,64.179817,66.491544,67.450088,29.897334,28.405799,30.718256,49.031394,26.721438,10.379995,64.653582,76.610679
min,4.500000,0.000000,4.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,244.600000,100.490000
25%,205.700000,59.875000,302.375000,0.000000,60.400000,117.600000,41.175000,0.000000,17.100000,303.150000,122.037500
50%,250.050000,96.250000,377.850000,3.050000,66.100000,147.500000,87.600000,0.000000,18.600000,380.600000,136.355000
75%,305.100000,156.025000,419.700000,50.225000,97.500000,164.000000,120.825000,17.525000,35.000000,420.450000,151.237500
max,436.800000,257.300000,484.100000,92.700000,148.600000,254.400000,173.400000,194.000000,39.600000,476.900000,2082.250000

In [34]:
# Guardamos el archivo en formato CSV y Pickle
import pickle

def save_obj(obj, name ):
       with open('obj/'+ name + '.pkl', 'wb') as f:
           pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

save_obj(dataset, 'df_Tenerife_Electricity_2020_07_clean')
save_obj(leyenda, 'dict_descripcion_df_Electricity')


dataset.to_csv('df_Tenerife_Electricity_2020_07_clean.csv', index=True)